@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  src: local("Rajdhani"), local("Rajdhani"),
    url(../assests/Fonts/Rajdhani-SemiBold.ttf);
}
@font-face {
  font-family: "Josefinsans";
  font-style: normal;
  font-weight: 700;
  src: local("Josefinsans"), local("Josefinsans"),
    url(../assests/Fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  src: local("Kanit"), local("Kanit"),
    url(../assests/Fonts/Kanit-Regular.ttf);
}
@font-face{
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans"), local("OpenSans"),
    url(../assests/Fonts/OpenSansCondensed-Light.ttf);
}
@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway"), local("Raleway"),
    url(../assests/Fonts/Raleway-Regular.ttf);
}
/*********************************************************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* scroll-behavior: smooth; */
}
a {
  text-decoration: none;
  background-color: transparent;
}
.body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
/************************************PAGE LOADING ANIMATION**************************************/
.page-load {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow: visible;
  background-color: black;
  background-size: contain;
  overflow-y: hidden;
}
/***************************************NAV**************************************/
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
  height: 0px;
  min-height: 80px;
  overflow: hidden;
  transition: height 1s ease;
  position: fixed;
  width: 100%;
  z-index: 2;
}
body nav .main-title {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0.3rem;
  color: aqua;
  cursor: pointer;
  width: 160px;
}
.main-title img {
  min-height: 3rem;
  max-height: 4.5rem;
  max-width: 6rem;
  margin-left: 0.5rem;
}
nav .nav-elements {
  display: flex;
}
nav .nav-elements li {
  list-style: none;
}
nav .nav-elements a {
  text-decoration: none;
  color: aqua;
  padding: 3px 15px;
  font-size: 1.5em;
  font-family: "Rajdhani", sans-serif;
  transition: background-color 0.5s ease;
}
.line {
  background-color: orange;
  height: 0.2rem;
  width: auto;
  visibility: hidden;
  padding: 0;
  margin: 0;
  transition: visibility 0.1s ease;
}
nav .nav-elements a:hover {
  color: orange;
}
nav .nav-elements a:focus .line {
  visibility: visible;
}
nav .nav-elements a:focus {
  color: white;
}
nav .social-icons {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}
nav .social-icons a {
  color: aqua;
  font-size: 1.5em;
  padding: 0px 8px;
  transition: color 0.4s ease;
}
nav .social-icons a:hover {
  color: orange;
}
nav .ham-burger {
  color: aqua;
  font-size: 1.5em;
  position: absolute;
  top: 17px;
  right: 5%;
  display: none;
}
nav span {
  cursor: pointer;
}
.collapse {
  height: 26rem;
}

@media only screen and (max-width: 1089px) {
  nav {
    min-height: 4rem !important;
  }
  nav .nav-elements {
    flex-direction: column;
  }
  nav {
    display: block !important;
    flex-direction: column !important;
  }
  nav .ham-burger {
    display: initial;
  }
  nav .nav-elements a {
    width: fit-content;
    padding: 6px 10px;
  }
  nav .social-icons {
    margin-left: 2.5rem;
  }
  nav .main-title {
    padding-top: 0.3rem;
  }
  .main-title img {
    max-height: 3.5rem;
    max-width: 4rem;
    padding-left: 1rem;
    margin: 0rem;
  }
}
@media only screen and (min-width: 1089px) {
  nav {
    height: auto !important;
    min-height: 80px !important;
  }
}
/*************************************1NAV!**************************************/

/**************************MAIN BACKGROUND**************************************/
.main-back {
  min-height: 110vh;
  max-width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assests/pexels-negative-space-34153.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}
.enable-blur > * {
  filter: blur(8px);
  --webkit-filter: blur(8px);
}
.disableblur {
  filter: blur(0);
  --webkit-filter: blur(0);
}
.theme-text .theme-item {
  font-family: Josefinsans;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  flex-wrap: wrap;
  color: white;
}
@media only screen and (max-width: 1089px) {
  .theme-text .theme-item {
    font-size: 3rem;
  }
}
/**************************MAIN BACKGROUND**************************************/
/***************************************ABOUT************************************/
.about-con{
 /* background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); */
  background-color: black;
  margin: 0;
  padding: 0;
  border-radius:.25em;
}
.about-kct-con {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.about-kct-con img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: inline;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ab-kct-p {
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  max-width: 500px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(15px);
}
.ab-kct-p h2{
  text-align: center;
  font-family: "Kanit";
} 
.ab-kct {
  font-size: 1rem;
  font-family: "OpenSans"; 
  font-weight: 900;
  width: fit-content;
  height: fit-content;
}
.ab-acm {
  flex-direction: row-reverse;
}
.acm-img{
  background-color: white;
}
#about-h2{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Kanit";
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@media only screen and (max-width: 1089px) {
  .about-kct-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ab-kct-p{
    margin: 0 0.7rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .main-back{
    background-attachment:unset;
  }
  .ab-kct-p{
    animation: none;
  }
}

/*************************************/ /*ABOUT************************************/
/*****************************************OUR TEAM*************************************/
.our-team{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  background-color: black;
  background-image: url(../assests/back1.png);
}
.our-team h1{
  color: #fff;
  font-family: "Raleway";
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.container{
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.container .card{
  position: relative;
  width: 300px;
  height: 400px;
  background-color: rgba(225, 225, 225, 0.09);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.container .card:hover{
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  background-color: gray;
}
.container .card .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  transition: 0.5s;
}
.container .card:hover .content{
  opacity: 1;
  transform: translateY(-20px);
}
.container .card .content .imgbx{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden !important;
  border: 10px solid rgba(0,0,0,0.2);
}
.container .card .content .imgbx img{
  /* position: absolute; */
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.content-box h3{
  font-family: "Kanit";
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
}
.content-box h3 span{
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .soc-i{
  position: absolute;
  bottom: 40px;
  display: flex;
  margin-right: 40px;
} 
.container .card .soc-i li{
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
}
.container .card:hover .soc-i li{
  transform: translateY(10px);
  opacity: 1;
}
.container .card .soc-i li a{
  color: #fff;
  font-size: 24px;
}
@media only screen and (max-width: 1089px){
  .our-team{
    background-image: none;
  }
  .container .card .soc-i li{
    opacity: 1;
  }
  .container .card .content{
    opacity: 1;
  }
  .content-box h3{
    color: black;
    font-size: 15px;
  }
  .content-box h3 span{
    font-size: 10px;
  }
  .container .card{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    height: 250px;
    width: 140px;
    margin: 0 5px;
  }
  .container .card .soc-i li a{
    color: black;
  }
  .container .card .content .imgbx{
    height:100px;
    width: 100px;
  }
  .container .card .soc-i li a{
    font-size: 15px;
  }
  .container{
    margin: 8px 0;
  }
  .container .card .soc-i{
    bottom: 15px;
  }
  .container .card:hover{
    background-color: unset;
  }
}