body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; 
}
a {
  text-decoration: none;
  background-color: transparent;
}
.body{
    overflow-x:hidden !important;
    overflow-y: auto !important;
}
.page-load{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow: visible;
  background-color: black;
  background-size: contain;
  overflow-y: hidden;
} 
/***************************************NAV**************************************/
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
  height: 0vh;
  min-height: 8vh;
  overflow: hidden;
  transition: height 1s ease;
}
body nav .main-title {
  font-size: 2.5em;
  font-family: "Kanit", sans-serif;
  padding-left: 1rem;
  color: aqua;
  cursor: pointer;
}
nav .nav-elements {
  display: flex;
}
nav .nav-elements li {
  list-style: none;
}
nav .nav-elements a {
  text-decoration: none;
  color: aqua;
  padding: 3px 15px;
  font-size: 1.5em;
  font-family: "Rajdhani", sans-serif;
}
nav .nav-elements a:hover {
  background-color:orange;
  color: black;
}
nav .social-icons {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}
nav .social-icons a {
  color: aqua;
  font-size: 1.5em;
  padding: 0px 8px;
}
nav .social-icons a:hover {
  color: orange;
}
nav .ham-burger{
  color: aqua;
  font-size: 1.5em;
  position:absolute;
  top: 17px;
  right: 5%;
  display: none;
}
nav span {
  cursor: pointer;
}
.collapse {
  height: 25rem;
  
}


@media only screen and (max-width: 1089px) {
  nav{
     min-height: 4rem !important; 
  }  
  nav .nav-elements {
    flex-direction: column;
  }
  nav {
    display: block !important;
    flex-direction: column !important;
  } 
  nav .ham-burger {
    display: initial;
  }
  nav .nav-elements a {
    width: 40%;
    padding: 6px 10px;
  }
  nav .social-icons{
    margin-left: 2.5rem ;
  }
}
 @media only screen and (min-width: 1089px) {
   nav {
    height: 0rem !important;
    min-height: 8vh !important;
  } 
} 
@media only screen and (max-height: 650px) and (min-width: 1074px){
  body nav .main-title{
    font-size: 5vh;
    padding-bottom: 60px;
  }
  body nav .nave{
    padding-bottom: 50px;
  }
  body nav .nav-elements{
    font-size: 2vh;
  }
  body nav .social-icons{
    padding-bottom: 50px;
  }
  body nav .social-icons a{
    font-size: 2.5vh;
  }
}
/*************************************1NAV!**************************************/