@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  src: local("Rajdhani"), local("Rajdhani"),
    url(../assests/Fonts/Rajdhani-SemiBold.ttf);
}
@font-face {
  font-family: "Josefinsans";
  font-style: normal;
  font-weight: 700;
  src: local("Josefinsans"), local("Josefinsans"),
    url(../assests/Fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  src: local("Kanit"), local("Kanit"),
    url(../assests/Fonts/Kanit-Regular.ttf);
}
@font-face{
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans"), local("OpenSans"),
    url(../assests/Fonts/OpenSansCondensed-Light.ttf);
}
@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway"), local("Raleway"),
    url(../assests/Fonts/Raleway-Regular.ttf);
}
@font-face{
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway"), local("Raleway"),
    url(../assests/Fonts/Raleway-Bold.ttf);
}
@font-face{
  font-family: "Raleway-Italic";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway-Italic"), local("Raleway-Italic"),
    url(../assests/Fonts/Raleway-SemiBoldItalic.ttf);
}
/*********************************************************************/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
/*********************************************************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* scroll-behavior: smooth; */
}
a {
  text-decoration: none;
  background-color: transparent;
}
.body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
/************************************PAGE LOADING ANIMATION**************************************/
.page-load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: black;
  background-size: contain;
  overflow-y: hidden;
}
/***************************************NAV**************************************/
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
  height: 0px;
  min-height: 80px;
  overflow: hidden;
  transition: height 1s ease;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
  /* opacity: 0.8; */
}
body nav .main-title {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0.3rem;
  color: aqua;
  cursor: pointer;
  width: 160px;
}
.main-title img {
  min-height: 3rem;
  max-height: 4.5rem;
  max-width: 6rem;
  margin-left:15px;
  pointer-events: none;
}
nav .nav-elements {
  display: flex;
}
nav .nav-elements li {
  list-style: none;
}
nav .nav-elements a {
  text-decoration: none;
  color: aqua;
  padding: 3px 15px;
  font-size: 1.5em;
  font-family: "Rajdhani", sans-serif;
  transition: background-color 0.5s ease;
}
.line {
  background-color: orange;
  height: 0.2rem;
  width: auto;
  visibility: hidden;
  padding: 0;
  margin: 0;
  transition: visibility 0.1s ease;
}
nav .nav-elements a:hover {
  color: orange;
}
nav .nav-elements a:focus .line {
  visibility: visible;
}
nav .nav-elements a:focus {
  color: white;
}
nav .social-icons {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}
nav .social-icons a {
  color: aqua;
  font-size: 1.5em;
  padding: 0px 8px;
  transition: color 0.4s ease;
}
nav .social-icons a:hover {
  color: orange;
}
nav .ham-burger {
  color: aqua;
  font-size: 1.5em;
  position: absolute;
  top: 17px;
  right: 5%;
  display: none;
}
nav span {
  cursor: pointer;
}
.collapse {
  height: 26rem;
}

@media only screen and (max-width: 1089px) {
  nav {
    min-height: 4rem !important;
  }
  nav .nav-elements {
    flex-direction: column;
  }
  nav {
    display: block !important;
    flex-direction: column !important;
  }
  nav .ham-burger {
    display: initial;
  }
  nav .nav-elements a {
    width: fit-content;
    padding: 6px 10px;
  }
  nav .social-icons {
    margin-left: 2.5rem;
  }
  nav .main-title {
    padding-top: 0.3rem;
  }
  .main-title img {
    max-height: 3.5rem;
    max-width: 4rem;
    padding-left: 1rem;
    margin: 0rem;
  }
}
@media only screen and (min-width: 1089px) {
  nav {
    height: auto !important;
    min-height: 80px !important;
  }
}
/*************************************1NAV!**************************************/

/**************************MAIN BACKGROUND**************************************/
.main-back {
  min-height: 110vh;
  max-width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assests/pexels-negative-space-34153.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}
.enable-blur > * {
  filter: blur(8px);
  --webkit-filter: blur(8px);
}
.disableblur {
  filter: blur(0);
  --webkit-filter: blur(0);
}
.theme-text .theme-item {
  font-family: Josefinsans;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  flex-wrap: wrap;
  color: white;
}
@media only screen and (max-width: 1089px) {
  .theme-text .theme-item {
    font-size: 3rem;
  }
  .main-back{
    background-attachment: unset;
  }
}
@media only screen and (width: 534px){
  .main-back{
    background-position: unset;
  }
}
/**************************MAIN BACKGROUND**************************************/
/***************************************ABOUT************************************/
.about-con{
 /* background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); */
  background-color: black;
  margin: 0;
  padding: 0;
}

.about-kct-con {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.about-kct-con img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: inline;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
}
.ab-kct-p {
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  max-width: 500px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-self: center;
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
  backdrop-filter: blur(15px);
}
.ab-kct-p h2{
  text-align: center;
  font-family: "Kanit";
} 
.ab-kct {
  font-size: 1rem;
  font-family: "OpenSans"; 
  font-weight: 900;
  width: fit-content;
  height: fit-content;
}
.ab-acm {
  flex-direction: row-reverse;
}
.acm-img{
  background-color: white;
}
#about-h2{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Kanit";
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@media only screen and (max-width: 1089px) {
  .about-kct-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ab-kct-p{
    margin: 0 0.7rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .ab-kct-p{
    animation: none;
  }
}

/*************************************/ /*ABOUT************************************/
/*****************************************OUR TEAM*************************************/
.our-team{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  background-color: black;
  /* background-image: url(../assests/back1.png); */
}
.our-team h1{
  color: #fff;
  font-family: "Kanit";
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
}
.container{
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.container .card{
  position: relative;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 10);
  margin: 20px;
  /* box-shadow: 0 15px 35px rgba(225, 225, 225, 0.2); */
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.container .card:hover{
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  /* background-color: rgba(38,57,255,0.6); */
  background-color: rgba(255,255,255,0.08);
  box-shadow: rgb(255, 25, 147) 0px 20px 30px -10px;
}
.container .card:hover .content .imgbx{
  border: 5px solid rgb(255, 25, 147)
}
.container .card .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  transition: 0.5s;
}
.container .card:hover .content{
  opacity: 1;
  transform: translateY(-20px);
}
.container .card .content .imgbx{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden !important;
  border: 5px solid rgb(38,57,255);
  pointer-events: none;
}
.container .card .content .imgbx img{
  /* position: absolute; */
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.content-box h3{
  font-family: "Kanit";
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
}
.content-box h3 span{
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .soc-i{
  position: absolute;
  bottom: 40px;
  display: flex;
  margin-right: 40px;
} 
.container .card .soc-i li{
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
}
.container .card:hover .soc-i li{
  transform: translateY(10px);
  opacity: 1;
}
.container .card .soc-i li a{
  color: #fff;
  font-size: 24px;
}
@media only screen and (max-width: 1089px){
  .our-team{
    background-image: none;
  }
  .container .card .soc-i li{
    opacity: 1;
  }
  .container .card .content{
    opacity: 1;
  }
  .content-box h3{
    font-size: 14px;
  }
  .content-box h3 span{
    font-size: 10px;
  }
  .container .card{
    height: 250px;
    width: 140px;
    margin: 0 5px;
    box-shadow: rgb(38, 57, 255) 0px 20px 30px -20px;
  }
  .container .card .content .imgbx{
    height:100px;
    width: 100px;
  }
  .container .card .soc-i li a{
    font-size: 15px;
  }
  .container{
    margin: 8px 0;
  }
  .container .card .soc-i{
    bottom: 15px;
  }
  .container .card:hover{
    background-color: unset;
  }
}
/**********************************************************************************/
/*********************************Stats********************************************/
.stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  grid-column-gap: 1rem;
}
.stats .page-views{
  border-radius: 1rem;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  text-align: center;
  display: grid;
  grid-template-rows: 30% 20% 50%;
  grid-gap:0.3rem;
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
}
.stats .page-views i{
  font-size: 2rem;
  padding-top: 0.5rem;
}
.stats .page-views span{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Josefinsans";
  padding-top: 0.5rem;
}
.stats h2{
  font-family: "Josefinsans";
}
.statistics{
  background-color: black;
  padding:2rem;
}
.statistics h1{
  background-color: black;
  color: white;
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: "Kanit";
  font-weight: bolder;
}
@media only screen and (max-width: 632px){
  .stats{
    grid-template-columns: 1fr;
    grid-gap:1rem;
  }
}
/***************************************FOOTER**************************************/
footer{
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  /* background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
  /* background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%); */
  background-color: whitesmoke;
  /* background-color: greenyellow; */
  margin: 0;
  padding: 1rem;
}
footer h1{
  margin: 0;
  text-align: center;
}
.contact-us-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  padding: 3rem 0;
}
/* footer img{
  max-height: 80px;
} */
.contact-us-cont .map-cont{
  display: flex;
  text-align: center;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.soc-links a{
  margin: 0rem 0.5rem;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
footer img{
  pointer-events: none;
}
.soc-links a:hover{
  color: #e73c7e;
  transition: ease;
  transition-delay: 100ms;
}
.clg-soc-links-cont .soc-links{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
}
.clg-soc-links-cont h1{
  margin: 0rem;
  text-align: center;
  font-family: 'Kanit';
  font-size: 1.5rem;
  color: white;
}

.contact-us-cont .clg-soc-links-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #00f2fe; */
  border-radius: 1.1rem;
  height: 300px;
  width: 350px;
  align-self: center;
  justify-self: center;
  background-color: rgba(25, 25, 25, 15);
  backdrop-filter: blur(30px);
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
}
/* .footer-con .clg-icons a{
  margin: 0.5rem 0rem;
  min-width: 250px;
  box-sizing: border-box;
} */
footer .dev-det{
  text-align: center;
  font-family: "Raleway-italic";
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  margin-top: -1.1rem;
  flex-wrap: wrap;
}
footer .dev-det span{
  font-family: "Kanit";
}
.dev-det a{
  margin: 0 0.3rem;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
footer h1{
  font-family: "Kanit";
  font-weight: bolder;
  font-size: 2.5rem;
}
.fa-paper-plane{
  color: #00f2fe;
}
form button{
  background-color: black;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #00f2fe;
  font-family: 'Kanit';
  cursor: pointer;
  margin: 0.3rem 0;
  align-self: center;
}
/* footer .dev-det h2{
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Kanit";
  font-weight: bold;
} */
/* footer .dev-det h3{
  font-family: "Raleway-Italic";
  font-size: 1.5rem;
} */

.contact-us-cont form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 1.1rem;
  background-color: rgba(25, 25, 25, 15);
  backdrop-filter: blur(30px);
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
  width: 350px;
  height: 300px;
  box-sizing: border-box;
  align-self: center;
}
.contact-us-cont .form-cont form h2{
  margin: 1rem 0;
  font-family: "Kanit";
  text-align: center;
  color: white;
}
.contact-us-cont .form-cont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form #input{
  margin: 0.3rem 0rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0.3rem;
  font-size: 1rem;
  width: auto;
  border-bottom: solid 1px skyblue;
  color: white;
  outline: none;
  background-color: transparent;
  font-family: 'Kanit';
}
form button:hover{
  color: greenyellow;
}
.contact-us-cont button:hover .fa-paper-plane{
  color: greenyellow;
}
.contact-us-cont form .success{
  font-family: "Raleway-Bold";
  visibility: hidden;
  font-size: 0.7rem;
  text-align: center;
  transition: all 1s ease;
  transition-delay: 0.2s;
  margin: 0.2rem 0;
  color: white;
}
form:hover{
  box-shadow: rgb(255, 57, 150) 0px 20px 30px -15px;
}
form:hover button{
  color: rgb(255, 57, 150);
}
form button:hover{
  color: greenyellow;
}
form:hover .fa-paper-plane{
  color:  rgb(255, 57, 150);;
}
form:hover #input{
  border-bottom: solid 1px rgb(255, 57, 150);
}
#input:focus{
  border-bottom:solid 1px orange !important;
}
footer .copyright{
  text-align: center;
  align-self: center;
  margin-top: 0.7rem;
  font-family: 'Kanit';
  display: flex;
  flex-direction: column;
}
footer a{
  margin: 0.5rem 0rem;
  min-width: 250px;
  box-sizing: border-box;
}
footer img{
  max-height: 60px;
}
.logo-icons{
  width: 40%;
  justify-self: center;
}
.acc-name{
  font-family: "Raleway-Bold";
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.foot-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.soc-wrap{
  margin: 0.4rem 0;
}
.acc-name{
  align-self: center;
  justify-self: center;
}
.clg-soc-links-cont:hover{
  box-shadow: rgb(255, 57, 150) 0px 20px 30px -15px;
}
.mapouter{
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
  justify-self: center;
}
.mapouter:hover{
  box-shadow: rgb(255, 57, 150) 0px 20px 30px -15px;
}
@media only screen and (max-width:1076px){
 .contact-us-cont{
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
}
@media only screen and (max-width:400px){
  .contact-us-cont form{
    width: 250px;
  }
  .contact-us-cont .clg-soc-links-cont{
    width: 250px;
  }
  .contact-us-cont #gmap_canvas{
    width: 250px;
  }
  .contact-us-cont .gmap_canvas{
    width: 250px;
 }
 .contact-us-cont .mapouter{
   width: 250px;
 }
}
@media only screen and (max-width:855px){
  .foot-con{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:1rem
  }
  .copyright{
    order: 1;
  }
  #acm-footer{
    margin-left: -1.1rem;
  }
}
/**************************************FOOTER**************************************/