:root{
  --blue-main:#1B2941;
  --green-main:#79BEAD;
  --green-grad:transparent linear-gradient(359deg, #5CA895 0%, #96D5C5 100%) 0% 0% no-repeat padding-box;
}


/**************************MAIN BACKGROUND**************************************/
.main-back {
  min-height: 110vh;
  max-width: 100%;
  background-color: var(--blue-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url("../assests/pexels-negative-space-34153.jpg"); */
  background: url("../assests/IMG_20190918_105547.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.enable-blur > * {
  filter: blur(8px);
  --webkit-filter: blur(8px);
}
.disableblur {
  filter: blur(0);
  --webkit-filter: blur(0);
}
.theme-text .theme-item {
  font-family: Josefinsans;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  flex-wrap: wrap;
  color: white;
  text-shadow: 5px 5px 1px var(--blue-main);
}
@media only screen and (max-width: 1089px) {
  .theme-text .theme-item {
    font-size: 3rem;
  }
  .main-back{
    background-attachment: unset;
  }
}
@media only screen and (width: 534px){
  .main-back{
    background-position: unset;
  }
}
/**************************MAIN BACKGROUND**************************************/
/***************************************ABOUT************************************/
.about-con{
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about-kct-con {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.about-kct-con img {
  max-width: 532px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: inline;
  align-items: center;
  justify-content: center;
}
.ab-kct-p {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--green-grad);
  color: var(--blue-main);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: fit-content;
  height: fit-content;
  min-height: 300px;
  backdrop-filter: blur(15px);
  justify-content: center;
}
.ab-kct-p h2{
  text-align: center;
  font-family: "Kanit";
} 
.ab-kct {
  font-size: 1rem;
  font-family: "OpenSans"; 
  font-weight: 900;
}
.ab-acm {
  flex-direction: row-reverse;
}
.acm-img{
  background-color: #eeeeee;
}
#about-h2{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Kanit";
  padding-top: 1rem;
  font-size: 2rem;
  color: var(--blue-main);
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@media only screen and (max-width: 1089px) {
  .about-kct-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ab-kct-p{
    margin: 0 0.7rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .ab-kct-p{
    animation: none;
  }
}

/*************************************/ /*ABOUT************************************/
/*****************************************OUR TEAM*************************************/
.our-team{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  background-color: var(--blue-main);
  background-color: #eeeeee;
}
.our-team h1{
  color: var(--blue-main);
  font-family: "Kanit";
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
}
.container{
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.container .card{
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #1B2941;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  transition: 0.5s;
}
.container .card:hover .content{
  opacity: 1;
  transform: translateY(-20px);
}
.container .card .content .imgbx{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden !important;
  border: 5px solid #94D5C5;
  pointer-events: none;
}
.container .card .content .imgbx img{
  /* position: absolute; */
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.content-box h3{
  font-family: "Kanit";
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
}
.content-box h3 span{
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.container .card .soc-i{
  position: absolute;
  bottom: 40px;
  display: flex;
  margin-right: 40px;
} 
.container .card .soc-i li{
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 0;
}
.container .card:hover .soc-i li{
  transform: translateY(10px);
  opacity: 1;
}
.container .card .soc-i li a{
  color: #fff;
  font-size: 24px;
}
@media only screen and (max-width: 1089px){
  .main-back{
    background: url('../assests/70310711_143095153637083_6314318445248146896_n.jpg');
    background-size: cover;
  }
  .our-team{
    background-image: none;
  }
  .container .card .soc-i li{
    opacity: 1;
  }
  .container .card .content{
    opacity: 1;
  }
  .content-box h3{
    font-size: 14px;
  }
  .content-box h3 span{
    font-size: 10px;
  }
  .container .card{
    height: 250px;
    width: 140px;
    margin: 0 5px;
  }
  .container .card .content .imgbx{
    height:100px;
    width: 100px;
  }
  .container .card .soc-i li a{
    font-size: 15px;
  }
  .container{
    margin: 8px 0;
  }
  .container .card .soc-i{
    bottom: 15px;
  }
}
/**********************************************************************************/
/*********************************Stats********************************************/
.stats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #eeeeee;
  grid-column-gap: 1rem;
}
.stats .page-views{
  border-radius: 1rem;
  background: var(--green-grad);
  color: var(--blue-main);
  text-align: center;
  display: grid;
  grid-template-rows: 30% 20% 50%;
  grid-gap:0.3rem;
}
.stats .page-views i{
  font-size: 2rem;
  padding-top: 0.5rem;
}
.stats .page-views span{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Josefinsans";
  padding-top: 0.5rem;
}
.stats h2{
  font-family: "Josefinsans";
}
.statistics{
  background-color: #eeeeee;
  padding:2rem;
}
.statistics h1{
  color: var(--blue-main);
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-family: "Kanit";
  font-weight: bolder;
}
@media only screen and (max-width: 632px){
  .stats{
    grid-template-columns: 1fr;
    grid-gap:1rem;
  }
}
/**********************************************************************/